@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("~assets/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("~assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("~assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Teko";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("~assets/fonts/Teko-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Teko";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("~assets/fonts/Teko-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Teko";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("~assets/fonts/Teko-Bold.ttf") format("truetype");
}

html {
	scroll-behavior: smooth;
}

.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}

.fade-slide-enter-active {
	transition: all 0.3s ease;
}
.fade-slide-leave-active {
	transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-slide-enter,
.fade-slide-leave-to {
	transform: translateY(-30px);
	opacity: 0;
}

main {
	@apply min-h-screen;
}

.area {
	@apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.area-xl {
	@apply w-full max-w-10xl mx-auto px-4 sm:px-6 lg:px-8;
}
